/*left navbar*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);
@font-face {
   font-family: ProximaNova;
   src: url(ProximaNovaBold.otf);
}
body{
    font-family: Roboto;
    background: #edf2f6;
}

.inline-block{display: inline-block;}
.block{display: block;}

.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.font-24{
    font-size: 24px;
}
.fa{
    width:20px;
    text-align: center;
}
.left-bar{
    width: 70px;
    height: 100%;
    position: absolute;
    left: 0px;
    text-align: center;
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}
.left-big-bar{
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
    text-align: left;
    background-color: #fff;
    z-index: 1;
    overflow: hidden;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}
.top-header{
    position: absolute;
    background-color: #3f4257;
    min-height: 70px;
    width: 100%;
    padding-left: 70px;
    color: #fff;
    z-index: 1;
}
.page-name{
    font-weight: bold;
    font-size: 16px;
    padding: 23px;
}
.footer-style {
    margin: 20px 0px 20px 90px;
}

.align-mid{
    vertical-align: middle
}

.container{
    padding-top: 70px;
}
.logo{
    min-height: 70px;
    background-color: #ff5e3a;
    color: #fff;
    padding: 22px;
}
.left-items{
    margin-top: 30px;
    margin-bottom: 30px;
}
.pad-lt-20{
    padding-left: 22px;
}
.mrg-lt-10px{
    margin-left: 10px;
}
.mrg-lt-15px{
    margin-left: 15px;
}
.mrg-btm-15px{
    margin-bottom: 15px;
}

.custom-container{
    padding-left: 85px;
    padding-top: 85px;
}

.content-section {
    padding: 0px;
}
.main-image{
    height: 600px;
}
.width-10per{
    width: 10%;
}
/*--------Events page---------*/

#events-img {
    width: 100%;
}

ul {
    list-style: none;
}

.sub-menu {
    vertical-align: middle;
    line-height: 100px;
    background-color: white;
    margin-bottom: 15px;
}

.profile-menu {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around; 
}
.profile-menu li > div, .profile-menu li a {
    font-size: 14px;
    font-weight: 700;
    color: #9a9fbf;
    display: block; 
}
.profile-menu li > div:hover, .profile-menu li a:hover {
    color: #515365; 
}
.profile-menu li > div.active, .profile-menu li a.active {
    color: #515365; 
}
.profile-menu .more-dropdown {
    width: 230px;
    top: calc(100% + 10px);
    right: -25px; 
}
.profile-menu .more-dropdown li {
    display: block; 
}
.profile-menu li .more-dropdown a {
    padding: 10px 0;
    font-size: 13px; 
}

.event-card {
    height: 80px;
    background-color: white;
    color: grey;
    margin-bottom: 5px;
}

.event-mindetails {
    display: inline-block;
    width: 85%;
}

.event-name {
    font-size: x-large;
    float: left;   
}

.event-row {
    margin: 10px 0px 0px 10px;
}

.event-date {
    float: right;
}

.event-details {
    margin: -5px 0px 10px 0px;
    background-color: white;
    color: grey;
    padding-bottom: 20px;
}

.event-desc {
    margin: 0px 0px 20px 0px;
}

.event-confirm {
    text-align: center;
}

.event-register-btn {
    display: inline-block;
    width: 14%;
    height: 100%;
    color: white;
    float: right;
}

.event-register-button {
    width: 100%;
    height: 100%;
    background-color: #ff5e3a;
    border-style: hidden;
    font-size: large;
}

.not-registered {
    background-color: #ff5e3a;
}
.registered {
    background-color: green;
}

.event-register-button:focus {
    outline: none;
}


/*-------------Request-------------*/
.request-card{
    background-color: #fff;
    min-height: 100px;
    margin-bottom: 20px;
    color:grey;
    padding: 20px 20px;
}
.bold{
    font-weight: 500;
}
.right{
    text-align: right;
}
.right>.btn{
    padding: 2px 6px 3px 6px;
}
.request-box{
    min-width: 100px;
    height: 75px;
    background-color: #3f4257;
    color:#fff;
    display: inline-block;
    margin-right: 20px;
    padding:25px;
    text-align:center;
    cursor: pointer;
}
.request-box:hover{
    color:#ff5e3a;
}
.types-container{
    padding: 10px 100px;
    text-align: center;
}

/*
.form-container{
    width:300px;
    margin: auto 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
*/
.form-container {
    width: 40%;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 20px;
}
.text-right{
    text-align: right;
    padding-right: 20px;
}
.textarea{
    resize: vertical;
    font-size: 12px;
}
.detail-container{
    margin-top: 20px;
}