<h2>Upcoming Events</h2>

<div>
    <div class="event-list" ng-repeat="item in eventList">
        <div class="event-card">
            <div class="event-mindetails">
                <div class="row event-row">
                    <span class="event-name">{{item.name}}</span>
                    <span class="event-date">{{item.date}}</span>    
                </div>
                <div class="row event-row">
                    <span class="event-venue">Venue: {{item.venue}}</span>
                </div>
            </div>
            <div class="event-register-btn">
                <button ng-click="register(item)" class="event-register-button" ng-class="{'registered': item.regFlag, 'not-registered': !item.regFlag}">
                    {{item.regFlag? 'Registered' : 'Register'}}</button>
            </div>    
        </div>
        <div class="event-details" ng-if="selectedName==item.name">
            <div class="event-desc">
                <span class="event-row">Entry Fee: {{item.fee}}</span>
                <p class="event-row">Description: {{item.description}}</p>
            </div>
            <div class="event-confirm" ng-if="!item.regFlag">
                <button type="button" class="btn btn-primary" ng-click="confirmRegister(item)">Confirm</button>
                <button type="button" class="btn btn-default" ng-click="cancelRegister(item)">Cancel</button>
            </div>
            <div class="event-confirm" ng-if="item.regFlag">
                <button type="button" class="btn btn-default" ng-click="cancelRegister(item)">Close</button>
            </div>
        </div>
    </div>  
</div>