<h3>Raise New Request</h3>

<div class="request-card">
   <div class="row types-container mrg-btm-10px">
       <div class="inline-block" ng-repeat="item in requestTypes">
           <div ng-click="setRequestType(item)" class="request-box">
               {{item}}
           </div>
       </div>
   </div>
    <div ng-if="requestJson.requestType" class="detail-container" style="width:100%">  
      <form name="request" class="form-container">
          <div class="row mrg-btm-15px">
               <div class="col-sm-6 text-right">REQUEST TYPE :</div>
               <div class="col-sm-6">{{requestJson.requestType}}</div>
          </div>
          <div class="row mrg-btm-15px">
               <div class="col-sm-6 text-right">DESCRIPTION* :</div>
               <div class="col-sm-6 ">
                   <textarea name="desc" rows="5" required class="textarea" ng-model="requestJson.description"></textarea>
              </div>
          </div>
          <div class="row mrg-btm-15px">
               <div class="col-sm-6 text-right">Current Date :</div>
               <div class="col-sm-6">{{requestJson.date | date:'dd MMM yyyy'}}</div>
          </div>
          <div class="row mrg-btm-15px">
               <div class="col-sm-6 text-right">Phone {{request.phone.$valid}}number* :</div>
               <div class="col-sm-6"><input name="phone" required ng-model="requestJson.phone"></div>
          </div>
          <div class="row mrg-btm-15px">
               <div class="col-sm-6 col-sm-offset-6">
                   <button type="button" class="btn btn-success">Submit</button>
               </div>
          </div>
          
      </form>
    </div>
</div>